/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content :not(a) > img
  cursor pointer

img.mature-img:not(.medium-zoom-image--opened)
  filter blur(10px)
